<div id="loading"></div>
<div id="wrapper" style="opacity: 0">
  
  <img src="assets/images/logo.png" alt="RW" class="logo">
  <div class="nav-trigger" role="button" title="sweet hamburger">
    <div class="hamburger">
      <div class="icon"></div>
    </div>
  </div>

  <div id="top-nav" class="hidden-xs">
      <ul class="navigation">

        <li><a href="index.html">Work</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="cv.html">CV</a></li>
        
        <li><a href="https://www.linkedin.com/in/raviwoods" target="_blank"><i class="font24 ion-social-linkedin"></i></a></li>
        <li><a href="https://www.github.com/raviwoods" target="_blank"><i class="font24 ion-social-github"></i></a></li>
      </ul>
  </div>

  <div id="nav-menu" class="visible-xs">
      <ul class="navigation">
        <li><a href="index.html">Work</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="cv.html">CV</a></li>
      </ul>

      <div class="col-xs-12 nav-social">
        <ul>
            <li><a href="https://www.linkedin.com/in/raviwoods" target="_blank"><i class="font24 ion-social-linkedin"></i></a></li>
            <li><a href="https://www.github.com/raviwoods" target="_blank"><i class="font24 ion-social-github"></i></a></li>
        </ul>
      </div>
  </div>


  <div class="main">
    {{#> content }}
    {{/content}}
    
    <div class="footer navbar-fixed-bottom">
      <div class="container">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <ul class="navfooter">
              <li><a href="index.html">Work</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="cv.html">CV</a></li>
            </ul>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="social">
            <ul class="socialfooter" >
              <li><a href="https://www.linkedin.com/in/raviwoods" target="_blank">LinkedIn</a></li>
              <li><a href="https://www.github.com/raviwoods" target="_blank">GitHub</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div><!--Main -->
</div><!-- Wrapper -->



